environment transfer inst should be a queue (maybe even make it static in global_config)
encode file as utf-8? only literals? python 3 already handles utf-8? idk man im tired

Will I do this? idk xd
Check for arrays passed to func calls
Check for vectors passed to func calls
Check for function return type







0  ----First P [total size=5]
5
33
22 , relative size=3
11  

3  ---Second p [total size= 3]
4
5 


5 --Third p
4




